.video-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  gap: 10px;
  background-image: url(../../assets/background/fond_bleuNuance.svg);
  
h2{
  text-align: center;
  text-wrap: nowrap;
}
  video {
    width: 250px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 6px 10px rgb(3, 67, 73);
  }
}
