.video-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 25px 40px;
  gap: 85px;
  @media screen and (max-width: 930px) {
    flex-direction: column;
    gap: 15px;
}
  .citation {
    text-align: center;
  }

  .videoArticle{
    width: 28%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    @media screen and (max-width: 930px) {
      width: 100%;
  }
  }
h2{
  text-align: center;
  font-style: italic;
  font-size: 28px;
  color: black;

}
  video {
    width: 185px;
    height: auto;
    border-radius: 15px;
    border: solid 3px white;
    box-shadow: 0 6px 10px rgb(3, 67, 73);
  }
}
.photoPort{
  width: 80%;
  height: 450px;
  text-align: center;
  background-image: url(../../assets/background/croisière.jpg);
  background-size: contain;
  background-repeat: no-repeat;  
  background-attachment: fixed;
  padding-top: 45px;
  margin: 0 auto;
  @media screen and (max-width: 930px) {
    background-attachment: local;
    border-radius: 0;
    margin-bottom: -62px;
}
  p{
    color: black;
    display: flex;
    justify-content: center;
    font-size: 45px;
    background-color: rgba(255, 255, 255, 0.683);
    width: 50%;
    margin: 0 auto;
    border-radius: 25px;
    @media screen and (max-width: 930px) {
      font-size: 38px;
      position: relative;
      top: 225px;
      width: 100%;
      padding-block: 10px;
  }
  @media screen and (max-width: 480px) {
    top: 190px;
}
@media screen and (max-width: 375px) {
  top: 175px;
}
  }
}