.video-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 40px;
  gap: 15px;
  background-image: url(../../assets/background/fond_bleuNuance.svg);
  
  
h2{
  text-align: center;
  
}
  video {
    width: 250px;
    height: auto;
    border-radius: 15px;
    border: solid 3px white;
    box-shadow: 0 6px 10px rgb(3, 67, 73);
  }
}
