.navbar-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 3%; 
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-image: url(../../assets/background/fond_azure.svg);
  background-size:cover;
  background-position: top;
  
  

  .icon-link {
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;

    .icon {
      width: 42px; 
      height: auto; 
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.4); 
      }
    }
    .icon-description {
      font-family: 'titre',sans-serif;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.3s ease;
      position: absolute;
      bottom: -55px; 
      left: 75%;
      transform: translateX(-50%);
      background-color: rgba(0, 0, 0, 0.8);
      color: #fff;
      padding: 5px;
      border-radius: 4px;
      white-space: nowrap;
      font-size: 16px;
      
    }

    &:hover .icon-description {
      visibility: visible;
      opacity: 1;
    }
  }
}
