#Home {
  display: flex;
  justify-content:center;
  align-items: center;
}

#intro {
  h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
    text-decoration: underline;
    padding-bottom: 28px;
  }
}
