#Home {
  display: flex;
  justify-content:space-around;
  align-items: center;
  padding: 15px 40px;

  @media screen and (max-width: 930px) {
      flex-direction: column;
      gap: 15px;
  }
  
  .logo{
    display: flex;
    padding: 15px;
  }
}

#intro {
  background-color: #ffffffb2;
  border-radius: 15px;
  padding: 10px;
  h1{
    font-size: 40px;
    text-align: center;
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: black;
  }
  p{
    font-style: italic;
    text-align: center;
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}
.page{
  padding-bottom: 2%;
  @media screen and (max-width: 691px) {
    background-attachment: scroll;
}
  @media screen and (max-width: 840px) {
  padding-bottom: 0;
}
  
}