.language-selector {
  display: flex;
  gap: 10px;    


  button {
    padding: 0px 8px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    background-color: #f4f4f4; // Couleur par défaut
    color: #333;

    &.active {
      background-color: #4e73df;
      color: white;
      box-shadow: 0px 0px 10px rgba(78, 115, 223, 0.5); // Surbrillance
      transform: scale(1.1); // Léger agrandissement pour l'effet visuel
    }

    &:focus {
      outline: none;
    }
  }

  img {
    width: 36px;
  }
}
