html{
  background-image: url(../../src/assets/background/fond_azure.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
@font-face {
  font-family: 'titre';
  src: url('../assets/fonts/poppins.light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4 {
  font-family: 'titre',sans-serif;
  font-size: 2.5rem;
}

body, p, span {
  font-size: 1.5rem;

}
