
@font-face {
  font-family: 'titre';
  src: url('../assets/fonts/poppins.light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'normal';
  src: url('../assets/fonts/mara2v2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4 {
  font-family: 'titre',sans-serif;
  font-size: 32px;
}

body, p, span {
  font-family: 'normal', sans-serif;
  font-size: 28px;
}