.experience {
  padding-inline: 1rem;
  text-align: center;
  position: relative;
  user-select: none;
  -webkit-user-select: none;

  h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
  border: solid 2px;
  border-radius: 25px;
  background-color: #f8fbfa;
  color: #333333;
  padding: 10px;
  width: 50%;
  margin: 0 auto;
  @media screen and (max-width: 595px) {
    width: 100%;
  }
  }

  .card {
    width: 50%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s ease, opacity 0.5s ease;
    background-color: #f8f8f8;
    background-image: url(/src/assets/background/fondSable3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative; 
    margin: 0 auto;
    @media screen and (max-width: 1280px) {
      width: 100%;
    }

    &:hover {
      opacity: 0.9;
    }

    h3 {
      padding-block: 35px;
      font-size: 2.5rem;
      margin: 0.5rem 0;
      color: #fefefe;

      @media screen and (max-width: 375px) {
        font-size: 2rem;
      }
    }

    p {
      padding-block: 20px;
      width: 80%;
      margin: 0 auto;
      font-size: 1.6rem;
      text-align: center;
      color: #fefbfb;

      @media screen and (max-width: 768px) {
        width: 80%;
      }

      @media screen and (max-width: 375px) {
        font-size: 1.2rem;
      }
    }

    img {
      border-radius: 15px;
      width: 350px;
      height: 250px;
      object-fit: cover;
      overflow: hidden;
      padding-bottom: 5px;

      @media screen and (max-width: 375px) {
        max-width: 240px;
      }
    }
  }

  /* Positionner les boutons en bas (absolu) */
  .carousel .control-prev, .carousel .control-next {
    background-color: #7c87f4;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: absolute !important;
    
    &:hover {
      background-color: #FF66C4;
    }

    &::before {
      font-size: 2rem;
      color: white;
    }
  }

  .carousel .control-prev {
    left: 30%;
    top: 50%;
    @media screen and (max-width: 830px) {
      left: 5%
    }
    @media screen and (max-width: 564px) {
      left: 2%;
      top: 59%;
    }
  }

  .carousel .control-next {
    right: 30%;
    top: 50%;
    @media screen and (max-width: 830px) {
      right: 5%
    }
    @media screen and (max-width: 564px) {
      right: 2%;
      top: 59%;
    }
  }

  /* Ajuster le positionnement des boutons sur les petites tailles d'écran */
  @media screen and (max-width: 375px) {
    .carousel .control-prev, .carousel .control-next {
      top: 85%;
    }
  }
}

.carousel .carousel-status {
  right: 50%;
  font-size: 20px;
  color: #cacefa;
  @media screen and (max-width: 375px) {
    right: 40%;
  }
}
.textSlide{
  width: 45%;
  margin: 0 auto;

  @media screen and (max-width: 1070px) {
    width: 80%;
  }

  @media screen and (max-width: 375px) {
    width: 100%;
  }
}