.introCroisieres{
  background-color: white;
  border-radius: 25px;
  max-width: 450px;
  margin: 0 auto;
  padding-bottom: 15px;
}
.croisiere-content{
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.croisiere-image {
  width: 100%; 
  height: auto; 
  max-width: 250px; 
  max-height: 250px;
  object-fit: cover;
  border: solid 2px white; 
}
.croisieres {
  padding: 2rem;
  background-image: url(../../assets/background/fond_azure.svg);
  background-attachment: fixed;
  background-size:cover;
  text-align: center;

  h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #333333;
  }
  p{
    color: #333333;
  }

  .croisieres-container {
    display: flex;
    flex-direction: column;

    .croisiere-item {
      display: flex;
      margin-top: 15px;
      background-image: url(../../assets/background/fond_montagne.svg);
      background-attachment: fixed;
      padding: 1.5rem;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

      h3 {
        font-size: 1.5rem;
        color: #333333;
      }

      .croisiere-image {
        width: 100%;
        height: auto;
        border-radius: 20px;
      }

      p {
        font-size: 1rem;
        line-height: 1.4;
        margin-bottom: 1rem;
        color: #666;
        text-align: center;
      }
    }
  }
}
